body {
    margin: 0;
}
#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
#section {
    width: 350px;
    float: left;
    padding: 10px;
}
#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}
#cuest {
    list-style: none;
}
#title1 {
    text-align: center;
}
th{
    border: 1px solid black;
    background-color: aquamarine;
}
table{
    border: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
td{
    text-align: center;
    border: 1px solid black;
}
form{
    margin-left: auto;
    margin-right: auto;
}
#navegacionbt {
    text-decoration: none;
    text-decoration-color: none;
    right:50%;
    font-size: 110%;
    color: inherit;
}
#navegacion{
    position:absolute ;
    right: 2%;
    top: 4%;
}